# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml

# Rewrites
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redirects
Redirect / http://lukekorth.com/blog
Redirect /apps https://play.google.com/store/search?q=luke+korth

# Cache html and xml for 1 hour
<filesMatch "\.(html|xml)$">
    Header set Cache-Control "max-age=3600, public"
</filesMatch>

# Cache for 1 week
<filesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=604800, public"
</filesMatch>

# Cache css, js and fonts for 1 year. Will cache bust for css and js
<filesMatch "\.(css|js|woff|ttf)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# "-Indexes" will have Apache block users from browsing folders without a default document
# Usually you should leave this activated, because you shouldn't allow everybody to surf through
# every folder on your server (which includes rather private places like CMS system folders).
Options -Indexes