<script src="/js/photoswipe.js"></script>
<script>
var photoswipeParseHash = function() {
  var hash = window.location.hash.substring(1),
    params = {};

  if(hash.length < 5) {
    return params;
  }

  var vars = hash.split('&');
  for (var i = 0; i < vars.length; i++) {
    if (!vars[i]) {
      continue;
    }
    var pair = vars[i].split('=');
    if (pair.length < 2) {
      continue;
    }
    params[pair[0]] = pair[1];
  }

  if (params.gid) {
    params.gid = parseInt(params.gid, 10);
  }

  return params;
};

var openPhotoSwipe = function(slug) {
  photos = [
    {% for photo in photos %}
      {% assign slug = photo.name | downcase | slugify %}
      {
        src: "/photos/{{ gallery.folder }}/{{ slug }}.jpg",
        msrc: "/photos/{{ gallery.folder }}/{{ slug }}_thumb.jpg",
        title: "{{ photo.name }}",
        pid: "{{ slug }}",
        w: "{{ slug | width: gallery.folder }}",
        h: "{{ slug | height: gallery.folder }}",
      },
    {% endfor %}
  ];

  options = {
    shareEl: false,
    history: true,
    galleryPIDs: true,
    getThumbBoundsFn: function(index) {
      var thumbnail = document.getElementById(photos[index].pid),
        pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
        rect = thumbnail.getBoundingClientRect();

      return { x:rect.left, y:rect.top + pageYScroll, w:rect.width };
    }
  };

  for (var i = 0; i < photos.length; i++) {
    if (photos[i].pid == slug) {
      options.index = i;
      break;
    }
  }

  if (isNaN(options.index)) {
    return;
  }

  pswpElement = document.querySelectorAll('.pswp')[0];
  new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photos, options).init();
};

var hashData = photoswipeParseHash();
if (hashData.pid) {
  openPhotoSwipe(hashData.pid);
}
</script>
