<script type="module">
import PhotoSwipe from '/js/photoswipe.js';
import PhotoSwipeLightbox from '/js/photoswipe_lightbox.js';
import PhotoSwipeFullscreen from '/js/photoswipe_fullscreen.js';
import PhotoSwipeDynamicCaption from '/js/photoswipe_dynamic_caption.js';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#portfolio_filter_wrapper',
  children: 'a',
  pswpModule: PhotoSwipe,
  bgOpacity: 1,
});
const fullscreenPlugin = new PhotoSwipeFullscreen(lightbox);

lightbox.addFilter('itemData', (itemData, index) => {
  const webpSrc = itemData.element.dataset.pswpWebpSrc;
  if (webpSrc) {
    itemData.webpSrc = webpSrc;
  }
  return itemData;
});

lightbox.on('contentLoad', (e) => {
  const { content, isLazy } = e;

  if (content.data.webpSrc) {
    e.preventDefault();

    content.pictureElement = document.createElement('picture');

    const sourceWebp = document.createElement('source');
    sourceWebp.srcset = content.data.webpSrc;
    sourceWebp.type = 'image/webp';

    const sourceJpg = document.createElement('source');
    sourceJpg.srcset = content.data.src;
    sourceJpg.type = 'image/jpeg';

    content.element = document.createElement('img');
    content.element.src = content.data.src;
    content.element.setAttribute('alt', '');
    content.element.className = 'pswp__img';

    content.pictureElement.appendChild(sourceWebp);
    content.pictureElement.appendChild(sourceJpg);
    content.pictureElement.appendChild(content.element);

    content.state = 'loading';

    if (content.element.complete) {
      content.onLoaded();
    } else {
      content.element.onload = () => {
        content.onLoaded();
      };

      content.element.onerror = () => {
        content.onError();
      };
    }
  }
});

lightbox.on('contentAppend', (e) => {
  const { content } = e;
  if (content.pictureElement && !content.pictureElement.parentNode) {
    e.preventDefault();
    content.slide.container.appendChild(content.pictureElement);
  }
});

lightbox.on('contentRemove', (e) => {
  const { content } = e;
  if (content.pictureElement && content.pictureElement.parentNode) {
    e.preventDefault();
    content.pictureElement.remove();
  }
});

lightbox.on('change', (e) => {
  const path = lightbox.pswp.currSlide.data.webpSrc.replace(".webp", "").split('/').pop().concat('/');
  history.replaceState(null, "", "{{ gallery.link }}" + path);
});

lightbox.on('close', (e) => {
  history.replaceState(null, "", "{{ gallery.link }}");
});

lightbox.init();

{% if page.permalink != gallery.link %}
{% for selected in gallery.photos %}
  {% if selected.name == page.photo %}
    {% assign index = forloop.index0 %}
  {% endif %}
{% endfor %}
lightbox.loadAndOpen({{ index }});
{% endif %}
</script>
