<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
<div class="mdl-card__title{% if post.header_image %} mdl-card__cover-image-title" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('{{ post.header_image }}') center/cover;"{% else %}"{% endif %}>
    <h2 class="mdl-card__title-text"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
    {% if page.comments != false and post.comments != false %}
      | <a href="{{ root_url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.disqus_url }}{{ post.url }}{% endif %}">Comments</a>
    {% endif %}
    <p>{{ post.excerpt }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">
      Read More
    </a>
  </div>
</div>
