<div class="post type-post status-publish format-standard hentry category-uncategorized">
  <div class="post_wrapper">
    <div class="post_content_wrapper">
      {% if post.header_image %}
      <div class="post_img static">
        <a href="{{ post.url }}">
          <picture>
            <source srcset="{{ post.header_image }}.webp" type="image/webp">
            <source srcset="{{ post.header_image }}.jpg" type="image/jpeg">
            <img src="{{ post.header_image }}.jpg" />
          </picture>
        </a>
      </div>
      {% endif %}

      <div class="post_header">
        <div class="post_header_title">
          <h5><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
          <div class="post_detail">
            <time class="post_info_date" datetime="{{ post.date | datetime | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            {% if page.comments != false and post.comments != false %}
            <span class="post_info_comment">
              <a href="{{ root_url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.disqus_url }}{{ post.url }}{% endif %}">Comments</a>
            </span>
            {% endif %}
          </div>
        </div>

        <br class="clear"/>

        <p>{{ post.excerpt }}</p>

        <div class="post_button_wrapper">
          <a class="readmore" href="{{ post.url }}">Continue Reading</a>
        </div>
      </div>
    </div>
  </div>
</div>
