<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank" class="mdl-menu__item">Facebook</a></li>
<a href="https://twitter.com/share?url={{ page.url | prepend: site.url | url_encode }}&text={{ page.title | url_encode }}&via={{ site.twitter_username }}" target="_blank" class="mdl-menu__item">Twitter</a></li>
<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | url_encode }}" target="_blank" class="mdl-menu__item">Google+</a></li>
