<ul class="tag-cloud">
	<li><a href="/blog/category/presentations" title="Posts tagged with Presentations" style="font-size: 1.0em; line-height:1.0em">Presentations</a></li>
	<li><a href="/blog/category/android" title="Posts tagged with Android" style="font-size: 2.0em; line-height:2.0em">Android</a></li>
	<li><a href="/blog/category/new-technology" title="Posts tagged with New Technology" style="font-size: 1.0em; line-height:1.0em">New Technology</a></li>
	<li><a href="/blog/category/facebook" title="Posts tagged with Facebook" style="font-size: 1.5em; line-height:1.5em">Facebook</a></li>
</ul>
