<ul class="tag-cloud">
	<li><a href="/blog/category/security" title="Posts tagged with Security" style="font-size: 1.0em; line-height:1.0em">Security</a></li>
	<li><a href="/blog/category/support" title="Posts tagged with Support" style="font-size: 1.0em; line-height:1.0em">Support</a></li>
	<li><a href="/blog/category/sql" title="Posts tagged with SQL" style="font-size: 1.0em; line-height:1.0em">SQL</a></li>
	<li><a href="/blog/category/cloud" title="Posts tagged with Cloud" style="font-size: 1.0em; line-height:1.0em">Cloud</a></li>
	<li><a href="/blog/category/presentations" title="Posts tagged with Presentations" style="font-size: 1.0em; line-height:1.0em">Presentations</a></li>
	<li><a href="/blog/category/website" title="Posts tagged with Website" style="font-size: 1.0em; line-height:1.0em">Website</a></li>
	<li><a href="/blog/category/github" title="Posts tagged with GitHub" style="font-size: 1.0em; line-height:1.0em">GitHub</a></li>
	<li><a href="/blog/category/android" title="Posts tagged with Android" style="font-size: 2.0em; line-height:2.0em">Android</a></li>
	<li><a href="/blog/category/social" title="Posts tagged with Social" style="font-size: 1.0em; line-height:1.0em">Social</a></li>
	<li><a href="/blog/category/facebook" title="Posts tagged with Facebook" style="font-size: 1.0em; line-height:1.0em">Facebook</a></li>
	<li><a href="/blog/category/linux" title="Posts tagged with Linux" style="font-size: 1.0em; line-height:1.0em">Linux</a></li>
	<li><a href="/blog/category/new-technology" title="Posts tagged with New Technology" style="font-size: 1.0em; line-height:1.0em">New Technology</a></li>
	<li><a href="/blog/category/tutorial" title="Posts tagged with Tutorial" style="font-size: 1.0em; line-height:1.0em">Tutorial</a></li>
	<li><a href="/blog/category/pebble" title="Posts tagged with Pebble" style="font-size: 1.5em; line-height:1.5em">Pebble</a></li>
</ul>
