/* GENERAL ------------------------------------------------------------*/

body{
	color: #444;
}

body,
.home-block-heading span,
.page-heading span{
	background: #ebebe8;
}

body a{ color: #444; }

p a {
    color: #0169be;
}

p a:hover {
    text-decoration:underline;
}

body a:hover,
#top-widget-holder a:hover,
#nav>li>a:hover,
.project-heading .launch:hover{
	color: #0169be;
}

h1,h2,h3,h4,h5,h6{ color: #444444; }

/* Selection colours (easy to forget) */

::selection 	 	{background: #0169be; color: #fff; }
::-moz-selection 	{background: #0169be; color: #fff; }
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #0169be;}

/* HEADER ------------------------------------------------------------*/

header{ background: #444 url(/assets/header.png) bottom left repeat-x; }


/* WIDGETS------------------------------------------------*/

#top-widget-holder{
    background: #333;
    color: #aaaaaa;
}

#top-widget-holder h4{
	color: #ebebe8;
}

#top-widget-holder a{
	color: #fff;
}

/* NAVIGATION ------------------------------------------------------------*/

nav a{ color: #E2E0D7; }

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	color: #E2E0D7;
}

/* sub navigation -----------------------------------------------------*/

#nav>li ul{ background: #2f2f2f; }

#nav>li ul li a{ color: #717171; }

#nav>li ul li a:hover,
#nav>li ul li:nth-child(even) a:hover{
	background: #0169be;
	color: #fff;
}

#nav>li ul li:nth-child(even) a{
	background: #333333;
}

/* BREADCRUMBS ------------------------------------------------------------*/

.breadcrumbs{ color: #444; }

.breadcrumbs a{ color: #888; }


/* CONTACT CONTENT ------------------------------------------------------------*/

#contact-sidebar{ background: #e2e0d7; }


/* SIDEBAR ------------------------------------------------------------*/

#sidebar{ background: #e2e0d7; }

#sidebar .block{ border-bottom: 1px solid #bcbcba; }

/* HOME ------------------------------------------------------------*/

.home-block figcaption{
	background: #0169be;
	color: #f1f1f1;
}

/* PORTFOLIO ------------------------------------------------------------*/

.portfolio-thumbs figcaption{
	background: #0169be;
	color: #f1f1f1;
}

/* PROJECT ------------------------------------------------------------*/

.project-heading .launch{ color: #888; }

.project-info strong{ color: #444; }

.project-pager a{ color: #444; }

.project-pager a:hover{ 	color: #0169be; }

/* RELATED PROJECTS ---------------------------------------------------*/

.related-heading{ color: #444; }

.related-projects .thumb{ background: #0169be url(/assets/plus.png) center center no-repeat; }


/* BLOG ------------------------------------------------------------*/

#posts-list .feature-image,
#post-content .feature-image{ background: #0169be url(/assets/plus.png) center center no-repeat; }

article .meta{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	overflow: hidden;
}

#posts-list .entry-date{ color: #f1f1f1; }

/* ICONS -----------------------------------------------------------------------*/
i {
    display: inline-block;
    float: right;
    margin: 5px;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
}

i.fivehundredpx {
    background: #444 url("/assets/sprite.png") no-repeat -10px -477px;
}

i.android {
    background: #a4c639 url("/assets/sprite.png") no-repeat -10px -425px;
}

i.email {
    background: #666 url("/assets/sprite.png") no-repeat -10px -373px;
}

i.github {
    background: #4183c4 url("/assets/sprite.png") no-repeat -10px -269px;
}

i.linkedin {
    background: #007fb1 url("/assets/sprite.png") no-repeat -10px -217px;
}

i.rss {
    background: #ff8300 url("/assets/sprite.png") no-repeat -10px -165px;
}

i.stackoverflow {
    background: #f47920 url("/assets/sprite.png") no-repeat -10px -321px;
}

/* PAGE NAVIGATION ------------------------------------------------------------*/

.page-navigation a{
	background: #444 url(/assets/noise.png) repeat;
	color: #f1f1f1;
}

.page-navigation a:hover{
	background: #0169be;
	color: #fff;
}

/* PAGER ------------------------------------------------------------*/

.pager li a{ color: #444; }

.pager li:hover a{
	color: #fff;
	background: #0169be;
}

.pager li.active a{
	background: #444;
	color: #fff;
}

/* SLIDER ------------------------------------------------------------*/

#slider-holder #headline{ background: #e2e0d7; }



/* FOOTER ------------------------------------------------------------*/


footer .wrapper{
	background: url(/assets/footer.png) repeat-x top center;
}