{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script>
  $(document).ready(function() {
    var stickyNavTop = $('#nav').offset().top;
    var nonFixedPadding = parseInt($('nav').css('paddingLeft'));
    var bodyMargin = parseInt($('body').css('marginLeft'));

    var stickyNav = function() {
      var scrollTop = $(window).scrollTop();
      if (scrollTop > stickyNavTop) {
          $('#nav-placeholder').css({display: 'block'});
          $('#nav').addClass('sticky');
          $('#nav').css({paddingLeft: nonFixedPadding + bodyMargin + 'px'});
      } else {
          $('#nav-placeholder').css({display: 'none'});
          $('#nav').removeClass('sticky');
          $('#nav').css({paddingLeft: nonFixedPadding + 'px'});
      }
    };

    stickyNav();
    $(window).scroll(stickyNav);
  });
</script>
