<ul class="main-navigation">
  <li><a {% if page.tab == "blog" %}class="current-tab"{% endif %}href="{{ root_url }}/blog/">Blog</a></li>
  <li><a {% if page.tab == "about" %}class="current-tab"{% endif %}href="{{ root_url }}/about/">About</a></li>
  <li><a onclick="_gaq.push(['_trackEvent', 'Link', 'Navigation', '500px']);" target="_blank" href="http://500px.com/lukekorth">Photos</a></li>
  <li><a onclick="_gaq.push(['_trackEvent', 'Link', 'Navigation', '{{ site.email }}']);" href="mailto:{{ site.email }}">Contact</a></li>
</ul>
