---
layout: default
tab: blog
total_page_views: true
comment-count: true
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content post-container mdl-grid">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    {% include post_preview.html %}
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  {% endfor %}

  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
    {% if paginator.next_page %}
      <a class="prev" href="/blog/{{ paginator.next_page }}/">&larr; Older</a>
    {% endif %}
      <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
      <a class="next" href="/blog/{{ paginator.previous_page }}/">Newer &rarr;</a>
    {% endif %}
    </div>
</main>
{% include aside.html %}
