---
layout: default
title: Blog
tab: blog
sidebar: true
---
<!-- posts list -->
<div id="posts-list">

    <h2 class="page-heading"><span>BLOG</span></h2>
    {% for post in paginator.posts %}
    <article class="format-standard">
        <div class="entry-date"><div class="number">{{ post.date | date: "%e" }}</div>
            <div class="year">{{ post.date | date: "%B, %Y" }}</div></div>

        {% if post.picture %}
        <div class="feature-image">
            <a href="/media/{{ post.picture }}" data-rel="prettyPhoto"><img src="/media/{{ post.picture }}" /></a>
        </div>
        {% endif %}

        <h2 class="post-heading"><a href="/blog/{{ post.link }}">{{ post.title }}</a></h2>
        <div class="excerpt">{{ post.content | only_first_p }}</div>

        <a href="/blog/{{ post.link }}" class="read-more">read more &#8594;</a>
        <div class="meta">
            <div class="categories">In
                {% if post.tags %}
                {% for tag in post.tags %}
                <a href="/blog/category/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="comments"></div>
            <div class="user"><a href="/about/">By Luke</a></div>
        </div>
    </article>
    {% endfor %}

    <!-- page-navigation -->
    <div class="page-navigation clearfix">
        {% if paginator.next_page %}
        <div class="nav-next">
            <a href="/blog/{{ paginator.next_page }}">&#8592; Older Entries </a>
        </div>
        {% endif %}
        {% if paginator.previous_page %}
        <div class="nav-previous">
            {% if paginator.previous_page == 1 %}
            <a href="/blog/">Newer Entries &#8594;</a>
            {% else %}
            <a href="/blog/{{ paginator.previous_page }}">Newer Entries &#8594;</a>
            {% endif %}
        </div>
        {% endif %}
        <!--ENDS page-navigation -->

    </div>

</div>
<!-- ENDS posts list -->