---
layout: default
tab: blog
comment-count: true
---
<div id="page_caption" class="">
  <div class="page_title_wrapper">
    <div class="page_title_inner">
      <h1>Blog</h1>
    </div>
  </div>
</div>

<div id="page_content_wrapper" class="">
  <div class="inner">
    <div class="inner_wrapper">
      <div class="page_content_wrapper"></div>
      <div class="sidebar_content full_width blog_f">
        <div class="page_content_wrapper"></div>

        {% assign index = true %}
        {% for post in paginator.posts %}
          {% assign content = post.content %}
          {% include post_preview.html %}
        {% endfor %}

        <p class="paging left">
        {% if paginator.next_page %}
          <a href="/blog/{{ paginator.next_page }}/"><i class="fa fa-arrow-left"></i></a>
        {% endif %}
        {% if paginator.previous_page %}
          <span class="right">
            <a href="/blog/{% if paginator.previous_page != 1 %}{{ paginator.previous_page }}/{% endif %}"><i class="fa fa-arrow-right"></i></a>
          </span>
        {% endif %}
        </p>

        <br class="clear"/>
      </div>
    </div>
  </div>
  <br class="clear"/><br/>
</div>
