<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        <link rel="stylesheet" media="all" href="/min/?g=cssAll&1234"/>
        <link rel="stylesheet" media="screen" href="/min/?g=cssScreen&1234"/>

        <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
    </head>
    <body lang="en">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="wrapper">
                <div class="footer-bottom">
                    <div class="left">Developed by <a href="http://lukekorth.com" >Luke Korth</a></div>
                    <div class="right"></div>
                </div>
            </div>
        </footer>

        <script src="/min/?g=js&1234"></script>

        <script>
            $(document).ready(function() {
                $('#content').pjax('a');

                $(document).on('pjax:complete', function() {
                    initTagCloud();
                });

                initTagCloud();
            });

            function initTagCloud(){
                $.fn.tagcloud.defaults = {
                    size: {start: 1, end: 2, unit: 'em'},
                    color: {start: '#838FDE', end: '#0169be'}
                };

                $('#tags a').tagcloud();
            }
        </script>

    </body>
</html>