<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" media="all" href="/css/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        <!-- superfish -->
        <link rel="stylesheet" media="screen" href="/css/superfish.css" />
        <!-- ENDS superfish -->

        <!-- prettyPhoto -->
        <link rel="stylesheet" href="/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
        <!-- ENDS prettyPhoto -->

        <!-- poshytip -->
        <link rel="stylesheet" href="/js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
        <link rel="stylesheet" href="/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
        <!-- ENDS poshytip -->

        <!-- GOOGLE FONTS -->
        <link href='/css/fonts.css' rel='stylesheet' type='text/css'>

        <!-- Flex Slider -->
        <link rel="stylesheet" href="/css/flexslider.css" >
        <!-- ENDS Flex Slider -->

        <!-- Less framework -->
        <link rel="stylesheet" media="all" href="/css/lessframework.css"/>

        <!-- SKIN -->
        <link rel="stylesheet" media="all" href="/css/skin.css"/>
        
        <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
    </head>
    <body lang="en">
        <header class="clearfix">
            <div class="wrapper">
                <a href="/" id="logo"><h1 style="color: #E2E0D7;">LukeKorth.com</h1></a>

                <nav>
                    <ul id="nav" class="sf-menu">
                        <li {% if page.name == 'blog' %}class="current-menu-item"{% endif %}><a href="/blog">BLOG</a></li>
                        <li {% if page.name == 'about' %}class="current-menu-item"{% endif %}><a href="/about">ABOUT</a></li>
                        <li {% if page.name == 'work' %}class="current-menu-item"{% endif %}><a href="/work">WORK</a></li>
                        <li {% if page.name == 'projects' %}class="current-menu-item"{% endif %}><a href="/projects">PROJECTS</a></li>
                        <li {% if page.name == 'contact' %}class="current-menu-item"{% endif %}><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
                <div id="combo-holder"></div>
            </div>
        </header>

        <!-- MAIN -->
        <div id="main">
            <div class="wrapper clearfix">
                {% block main %}{% endblock %}
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        <!-- ENDS MAIN -->

        <footer>
            <div class="wrapper">
                <div class="footer-bottom">
                    <div class="left">Developed by <a href="http://lukekorth.com" >Luke Korth</a></div>
                    <div class="right"></div>
                </div>
            </div>
        </footer>

        <!-- JS -->
        <script src="/js/jquery-1.6.4.min.js"></script>
        <script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>
        <script src="/js/css3-mediaqueries.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/tabs.js"></script>

        <!-- superfish -->
        <script  src="/js/superfish-1.4.8/js/hoverIntent.js"></script>
        <script  src="/js/superfish-1.4.8/js/superfish.js"></script>
        <script  src="/js/superfish-1.4.8/js/supersubs.js"></script>
        <!-- ENDS superfish -->

        <!-- prettyPhoto -->
        <script  src="/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <!-- ENDS prettyPhoto -->

        <!-- poshytip -->
        <script  src="/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
        <!-- ENDS poshytip -->

        <!-- Flex Slider -->
        <script src="/js/jquery.flexslider-min.js"></script>
        <!-- ENDS Flex Slider -->

        <!-- modernizr -->
        <script src="/js/modernizr.js"></script>
    </body>
</html>