<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" media="all" href="/css/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        <!-- superfish -->
        <link rel="stylesheet" media="screen" href="/css/superfish.css" />
        <!-- ENDS superfish -->

        <!-- prettyPhoto -->
        <link rel="stylesheet" href="/js/prettyPhoto/css/prettyPhoto.css"  media="screen" />
        <!-- ENDS prettyPhoto -->

        <!-- poshytip -->
        <link rel="stylesheet" href="/js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
        <link rel="stylesheet" href="/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
        <!-- ENDS poshytip -->

        <!-- GOOGLE FONTS -->
        <link href='/css/fonts.css' rel='stylesheet' type='text/css'>

        <!-- Flex Slider -->
        <link rel="stylesheet" href="/css/flexslider.css" >
        <!-- ENDS Flex Slider -->

        <!-- Less framework -->
        <link rel="stylesheet" media="all" href="/css/lessframework.css"/>

        <!-- SKIN -->
        <link rel="stylesheet" media="all" href="/css/skin.css"/>
    </head>
    <body lang="en">
        <header class="clearfix">
            <!-- top widget -->
            <div id="top-widget-holder">
                <div class="wrapper">
                    <div id="top-widget">
                        <div class="padding">
                            <ul class="widget-cols clearfix">
                                <li class="first-col">

                                    <div class="widget-block">
                                        <h4>Recent posts</h4>
                                        <div class="recent-post">
                                            <a href="#" class="thumb"><img src="/img/dummies/54x54.gif" alt="Post" /></a>
                                            <div class="post-head">
                                                <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span>
                                            </div>
                                        </div>
                                        <div class="recent-post">
                                            <a href="#" class="thumb"><img src="/img/dummies/54x54.gif" alt="Post" /></a>
                                            <div class="post-head">
                                                <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span>
                                            </div>
                                        </div>
                                        <div class="recent-post">
                                            <a href="#" class="thumb"><img src="/img/dummies/54x54.gif" alt="Post" /></a>
                                            <div class="post-head">
                                                <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="second-col">

                                    <div class="widget-block">
                                        <h4>Dummy text</h4>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                    </div>

                                </li>

                                <li class="third-col">

                                    <div class="widget-block">
                                        <h4>Dummy text</h4>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                    </div>

                                </li>

                                <li class="fourth-col">

                                    <div class="widget-block">
                                        <h4>Dummy text</h4>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" id="top-open">Menu</a>
            </div>
            <!-- ENDS top-widget -->

            <div class="wrapper">
                <a href="/" id="logo"><img  src="/img/logo.png" alt="Zeni"></a>

                <nav>
                    <ul id="nav" class="sf-menu">
                        <li {% if page == 'blog' %}class="current-menu-item"{% endif %}><a href="/blog">BLOG</a></li>
                        <li {% if page == 'about' %}class="current-menu-item"{% endif %}><a href="/about">ABOUT</a></li>
                        <li {% if page == 'contact' %}class="current-menu-item"{% endif %}><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
                <div id="combo-holder"></div>
            </div>
        </header>

        <!-- MAIN -->
        <div id="main">
            <div class="wrapper clearfix">
                {% block main %}{% endblock %}
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        <!-- ENDS MAIN -->

        <footer>
            <div class="wrapper">
                <div class="footer-bottom">
                    <div class="left">Developed by <a href="http://lukekorth.com" >Luke Korth</a></div>
                    <div class="right"></div>
                </div>
            </div>
        </footer>

        <!-- JS -->
        <script src="/js/jquery-1.6.4.min.js"></script>
        <script src="/js/css3-mediaqueries.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/tabs.js"></script>

        <!-- superfish -->
        <script  src="/js/superfish-1.4.8/js/hoverIntent.js"></script>
        <script  src="/js/superfish-1.4.8/js/superfish.js"></script>
        <script  src="/js/superfish-1.4.8/js/supersubs.js"></script>
        <!-- ENDS superfish -->

        <!-- prettyPhoto -->
        <script  src="/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <!-- ENDS prettyPhoto -->

        <!-- poshytip -->
        <script  src="/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
        <!-- ENDS poshytip -->

        <!-- Flex Slider -->
        <script src="/js/jquery.flexslider-min.js"></script>
        <!-- ENDS Flex Slider -->

        <!-- modernizr -->
        <script src="/js/modernizr.js"></script>
    </body>
</html>