<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% if page.title %}
                {{ page.title}} :: {{ site.author }}
            {% else %}
                {{ site.author }}
            {% endif %}
        </title>

        <!--[if lt IE 9]>
                <script src="/js/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

        {% bundle %}
            - /css/reset.css
            - /css/comments.css
            - /css/widgets.css
            - /css/style.css
            - /js/poshytip-1.1/src/tip-twitter/tip-twitter.css
            - /js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css
            - /css/fonts.css
            - /css/flexslider.css
            - /css/lessframework.css
            - /css/skin.css
            - /css/superfish.css
            - /js/prettyPhoto/css/prettyPhoto.css
        {% endbundle %}

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23752726-1']);
            _gaq.push(['_setDomainName', 'lukekorth.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            (function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)
        </script>
    </head>
    <body lang="en">
        <div id="content">
            <header class="clearfix">
                <div class="wrapper">
                    <a href="/" id="logo"><h1 style="color: #E2E0D7;">{{ site.title }}</h1></a>

                    <nav>
                        <ul id="nav" class="sf-menu">
                            <li {% if page.category == 'blog' or page.tab == 'blog' %}class="current-menu-item"{% endif %}><a href="/blog">BLOG</a></li>
                            <li {% if page.tab == 'about' %}class="current-menu-item"{% endif %}><a href="/about">ABOUT</a></li>
                            <!--<li {% if page.tab == 'projects' %}class="current-menu-item"{% endif %}><a href="/projects">PROJECTS</a></li>
                            <li {% if page.tab == 'photos' %}class="current-menu-item"{% endif %}><a href="/photos">PHOTOS</a></li>-->
                            <li><a href="mailto:{{ site.email }}">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div id="combo-holder"></div>
                </div>
            </header>

            <!-- MAIN -->
            <div id="main">
                <div class="wrapper clearfix">
                    {{ content }}

                {% if page.sidebar %}
                    {% include sidebar.html %}
                {% endif %}
                </div>
            </div>
            <!-- ENDS MAIN -->
        </div>

        <footer>
            <div class="wrapper">
                <div class="footer-bottom">
                    <div class="right">
                        <a href="/rss.xml"><icon class="rss" title="RSS" ></icon></a>
                        <a href="http://www.linkedin.com/in/lukekorth" target="_blank"><icon class="linkedin" title="Linkedin" ></icon></a>
                        <a href="https://github.com/lkorth" target="_blank"><icon class="github" title="GitHub" ></icon></a>
                        <a href="http://stackoverflow.com/users/1024787/luke" target="_blank"><icon class="stackoverflow" title="Stack Overflow" ></icon></a>
                        <a href="mailto:{{ site.email }}"><icon class="email" title="Email" ></icon></a>
                        <a href="https://play.google.com/store/search?q=Luke+Korth" target="_blank"><icon class="android" title="Android" ></icon></a>
                        <a href="http://500px.com/LukeKorth" target="_blank"><icon class="fivehundredpx" title="500px" ></icon></a>
                    </div>
                </div>
            </div>
        </footer>

        {% bundle %}
            - /js/jquery-1.8.3.min.js
            - /js/jquery.onready.js
            - /js/css3-mediaqueries.js
            - /js/tabs.js
            - /js/superfish-1.4.8/js/hoverIntent.js
            - /js/superfish-1.4.8/js/superfish.js
            - /js/superfish-1.4.8/js/supersubs.js
            - /js/prettyPhoto/js/jquery.prettyPhoto.js
            - /js/poshytip-1.1/src/jquery.poshytip.min.js
            - /js/jquery.flexslider-min.js
            - /js/modernizr.js
            - /js/custom.js
        {% endbundle %}
    </body>
</html>