---
layout: default
---
{% include variables.html %}
<div id="page_caption">
  <div class="page_title_wrapper">
    <div class="page_title_inner">
      <h1>{{ gallery.title }}</h1>
      <div class="page_tagline">{{ gallery.subtitle }}</div>
    </div>
  </div>
</div>

<div id="page_content_wrapper" class="">
  <div class="inner">
    <div class="inner_wrapper nopadding">
      <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">
        <div id="portfolio_filter_wrapper" class="gallery two_cols portfolio-content section content clearfix" data-columns="2">
          {% for photo in gallery.photos %}
            {% assign slug = photo.name | downcase | slugify %}
            <div class="element grid classic2_cols">
              <div class="one_half gallery2 static filterable gallery_type archive animated14">
                <a href="/photos/{{ gallery.folder }}/{{ slug }}.jpg"
                   data-pswp-width="{{ slug | width: gallery.folder }}"
                   data-pswp-height="{{ slug | height: gallery.folder }}"
                   data-pswp-webp-src="/photos/{{ gallery.folder }}/{{ slug }}.webp"
                   target="_blank">
                  <div class="gallery_archive_desc">
                    <h4>{{ photo.name }}</h4>
                    <div class="post_detail"><p>{{ photo.subtitle }}</p>
                    </div>
                  </div>
                  <picture>
                    <source srcset="/photos/{{ gallery.folder }}/{{ slug }}_thumb.webp" type="image/webp">
                    <source srcset="/photos/{{ gallery.folder }}/{{ slug }}_thumb.jpg" type="image/jpeg">
                    <img id="{{ slug }}" src="/photos/{{ gallery.folder }}/{{ slug }}_thumb.jpg" alt="{{ photo.name }}" />
                  </picture>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include photoswipe-js.html %}
