---
layout: default
---
{% assign gallery = site.data.galleries[page.photos] %}
<div id="page_caption">
  <div class="page_title_wrapper">
    <div class="page_title_inner">
      <h1>{{ page.gallery }}</h1>
      <div class="page_tagline">{{ gallery.subtitle }}</div>
    </div>
  </div>
</div>

<div id="page_content_wrapper" class="">
  <div class="inner">
    <div class="inner_wrapper nopadding">
      <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">
        <div id="portfolio_filter_wrapper" class="gallery two_cols portfolio-content section content clearfix" data-columns="2">
          {% assign photos = gallery.photos %}
          {% for photo in photos %}
            {% assign slug = photo.name | downcase | slugify %}
            <div class="element grid classic2_cols">
              <div class="one_half gallery2 static filterable gallery_type archive animated14">
                <a href="javascript:openPhotoSwipe('{{ slug }}');">
                  <div class="gallery_archive_desc">
                    <h4>{{ photo.name }}</h4>
                    <div class="post_detail"><p>{{ photo.subtitle }}</p>
                    </div>
                  </div>
                  <picture>
                    <source srcset="/photos/{{ gallery.folder }}/{{ slug }}_thumb.webp" type="image/webp">
                    <source srcset="/photos/{{ gallery.folder }}/{{ slug }}_thumb.jpg" type="image/jpeg">
                    <img id="{{ slug }}" src="/photos/{{ gallery.folder }}/{{ slug }}_thumb.jpg" alt="{{ photo.name }}" />
                  </picture>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include photoswipe.html %}
{% include photoswipe-js.html %}
