---
layout: default
background_image: true
---
<div id="page_content_wrapper" class="wide">
  <div id="fullpage" class="fullpage-wrapper">
    <div class="section gallery_archive">
      <div class="background_image" style="background-image: url('/photos/{{ page.gallery.folder }}/{{ page.photo.name | downcase | slugify }}.jpg');">
        <div class="gallery_archive_desc">
          <h4>{{ page.title }}</h4>
          <div class="post_detail"><p>{{ page.photo.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
