---
layout: default
---
<!-- posts list -->
<div id="posts-list" class="single-post">

    <h2 class="page-heading"><span>BLOG</span></h2>

    <article class="format-standard">
        <div class="entry-date"><div class="number">{{ page.date | date: "%e" }}</div>
            <div class="year">{{ page.date | date: "%B, %Y" }}</div></div>

        {% if page.picture %}
        <div class="feature-image">
            <a href="/media/{{ page.picture }}" data-rel="prettyPhoto"><img src="/media/{{ page.picture }}" /></a>
        </div>
        {% endif %}

        <h2 class="post-heading"><a>{{ page.title }}</a></h2>
        <div class="post-content">{{ content }}</div>

        <div class="meta">
            <div class="categories">In
                {% if page.tags %}
                    {% for tag in page.tags %}
                        <a href="/blog/category/{{ tag | downcase }}/">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
                    {% endfor %}
                {% endif %}
                </div>
				<div class="comments"><a href="#disqus_thread"></a></div>
                <div class="user"><a href="/about/">By Luke</a></div>
            </div>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_identifier = '{{ page.title | downcase }}';
			var disqus_title = '{{ page.title }} - {{ site.author }}';
			var disqus_url = '{{ site.url }}/blog/{{ page.title | downcase }}/';
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			
        </article>
    </div>
    <!-- ENDS posts list -->
