---
layout: default
---
{% if page.header_image %}
  <div id="page_caption" class="hasbg parallax">
    <div id="bg_regular" style="background-image:url({{ page.header_image }});"></div>
    <div id="bg_blurred" style="background-image:url({{ page.header_image }});"></div>
  </div>
{% endif %}

<div id="page_content_wrapper" class="hasbg">
  <div class="post_caption">
    <h1>{{ page.title }}</h1>
    <div class="post_detail">
      {{ page.date | date: "%B %-d, %Y" }}
    </div>
  </div>
  <div class="inner">
    <div class="inner_wrapper">
      <div class="sidebar_content full_width">
        <div class="post type-post status-publish format-standard has-post-thumbnail hentry">
          <div class="post_wrapper">
            <div class="post_content_wrapper">
              <div class="post_header">
                <p>{{ content }}</p>
              </div>

              <hr/><br class="clear"/>

              {% if page.comments != false %}
                <h3>Comments</h3>
                <div id="disqus_thread">
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
